{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{% static 'web-admin/favicon.png' %}">
<title>Invest IQ</title>

<!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="{% static 'web-admin/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'web-admin/css/bootstrap-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'web-admin/css/font-awesome.css' %}" />

<!-- Main Css -->
<link rel="stylesheet" type="text/css" href="{% static 'web-admin/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'web-admin/css/light_theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'web-admin/css/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'web-admin/css/demo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'web-admin/css/menu.css' %}"/>
<link href="{% static 'web-admin/css/progress-wizard.min.css' %}" rel="stylesheet">

<style>
.bodyinner {
    min-height: 520px;
}
</style>
</head>