{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
<title>Invest IQ</title>

<!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/bootstrap-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/font-awesome.css' %}" />

<!-- Main Css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/light_theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/responsive.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/demo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/menu.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/web-admin/css/progress-wizard.min.css' %}">

<style>
.bodyinner {
    min-height: 520px;
}
.user-logo {
    background: #fdf4f3;
    color: #8a5d5d;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 4px 10px;
    margin-right: 5px;
    font-weight: bold;
    line-height: 30px;
}
</style>
</head>