{% load static %}
<div class="leftpannel">
    <ul>
      <li class="active"><a href="#"><img src="{% static 'web-admin/images/icon1.png' %}"  alt=""/>Home</a></li>
      <li><a href="#"><img src="{% static 'web-admin/images/icon2.png' %}"  alt=""/>Get signals</a></li>
      <li><a href="#"><img src="{% static 'web-admin/images/icon3.png' %}"  alt=""/>Automate</a></li>
      <li><a href="#"><img src="{% static 'web-admin/images/icon4.png' %}"  alt=""/>Portfolio</a></li>
      <li><a href="#"><img src="{% static 'web-admin/images/icon5.png' %}"  alt=""/>Attribution Analysis</a></li>
      <li><a href="#"><img src="{% static 'web-admin/images/icon6.png' %}"  alt=""/>Risk</a></li>
    </ul>
  </div>