{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="favicon.png">
<title>Invest IQ</title>

<!-- Bootstrap Css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}" />


<!-- Main Css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"/>
<link href="{% static 'css/progress-wizard.min.css' %}" rel="stylesheet">
</head>

<body>


<header class="innerpageheader">
<div class="container-fluid">
<div class="logo"><a href="/"><img src="{% static 'images/logo.png' %}" title="Invest IQ"  alt=""/></a></div>
<div id='cssmenu' class="menupart">
       <ul>
       <li><a href='#'>About us</a></li>
       <li><a href='#'>Ways to Trade </a></li>
       <li><a href='#'> Markets to Trade</a></li>
       <li><a href='#'> Trading Platforms</a></li>
       <li><a href='#'> Learn to Trade </a></li>
    </ul>
     </div>
<div class="rightbutt">
{% if user.is_authenticated %}
<a href="{% url 'logout' %}" class="login">Logout</a>
{% else %}
<a href="{% url 'login' %}" class="login">Login</a>
{% endif %}
<!-- <a href="#" class="getstarted">GET Started</a>-->
</div>
<div class="clearfix"></div>
</div>

</header>


<section>

<section class="innerbodysection">


{% block content %}
{% endblock content %}



</section>


</section>


<footer>
<div class="container">

<ul>
<li><a href="#">About us  </a></li>
<li><a href="#">Ways to Trade</a></li>
<li><a href="#">Markets to Trade</a></li>
<li><a href="#">Trading Platforms</a></li>
<li><a href="#">Learn to Trade</a></li>
</ul>

<div class="socialmedia">
Follow Us
<div>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>

</div>

<ul>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">About Us</a></li>
</ul>
<div class="copyright">©2019 Invest IQ. All rights reserved.</div>


</div>
</footer>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <div class="logintop">
       LOGIN
       <h2>Welcome</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing Integer mattis ipsum 
consectetur adipiscing eros.</p>
       </div>
<div class="loginbottom">
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<input type="text" placeholder="EMAIL ADDRESS" class="form-control">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<input type="password" placeholder="PASSWORD" class="form-control">
</div>
</div>
<div class="col-sm-6">
<a href="#">Forgot password?</a>
</div>
<div class="col-sm-6">
<a href="#" class="textright">Don’t Have An Account?</a>
</div>
<div class="col-sm-6">
<input type="button" value="Login" class="popbutton">
</div>
</div>

</div>
        
        
      </div>
      
    </div>
  </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <div class="emailnoti">
       
               <h2>Got it, keep an eye on<br>
your inbox.</h2>
<p>A confirmation email is on the way.</p>     

<a href="build-risk-pro.html" class="okbutton">Okay</a>  
       
       </div>


        
      </div>
      
    </div>
  </div>
</div>



 


<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap Js --> 
<script src="{% static 'js/bootstrap.js' %}"></script> 
<!-- Bootstrap Js --> 

<!-- for banner slider --> 
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
    $(function () {
      $("#slider4").responsiveSlides({
        auto: true,
        pager: false,
        nav: true,
        speed: 1500,
        namespace: "callbacks",
        before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }
      });

    });
  </script>
<!-- for banner slider --> 
<!-- for resize header js -->
<script src="{% static 'js/classie.js' %}"></script>
<script>
function init() {
window.addEventListener('scroll', function(e){
 var distanceY = window.pageYOffset || document.documentElement.scrollTop,
shrinkOn = 100,
 header = document.querySelector("header");
if (distanceY > shrinkOn) {
classie.add(header,"smaller");
} else {
if (classie.has(header,"smaller")) {
classie.remove(header,"smaller");
 }
}
});
 }
 window.onload = init();
</script>
<!-- for resize header js -->  
<script src="{% static 'js/script.js' %}"></script>
<!-- for tab js --> 
<script type="text/javascript">
$(document).ready(function() {

	$(".tab_content").hide();
	$(".tab_content:first").show(); 

	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).attr("rel"); 
		$("#"+activeTab).fadeIn(); 
	});
});

    // $(".popbutton").click(function(){
        // window.location.href = '/web-admin'
    // })
    // $(".getstarted").click(function(){
        // window.location.href = '/auth/signup'
    // })
       
</script> 
<script type="text/javascript">
$(document).ready(function(){
    var box_1 = $('input[name="product"][type="radio"]:checked').attr('data-box')
    console.log(box_1)
    if (box_1 != '') {
      var targetBox_1 = $("." + box_1);
      $(".box").not(targetBox_1).hide();
      $(targetBox_1).show();
    } else {
      $('.box.premium').show()
    }


    $('input[name="product"][type="radio"]').click(function(){
      var box = $(this).attr('data-box')
      if (box != '') {
        var targetBox = $("." + box);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
      }
        // var inputValue = $(this).attr("value");
        // var targetBox = $("." + inputValue);
        // $(".box").not(targetBox).hide();
        // $(targetBox).show();
    });
});
</script>

<script>
{% if messages %}
  {% for message in messages %}
      {% if message %}
      $(document).ready(function(){
        $('#emailNotificationModal').modal('show')
      })
      {% endif %}
  {% endfor %}
{% endif %}
</script>
</body>
</html>
