{% load static %}
<div class="banner">
  <ul class="rslides" id="slider4">
     <li><img src="{% static 'images/banner1.jpg' %}" alt="">
     <div class="banner-text">
     <span>Intelligent ALGO</span>
     Investment Opportunities
     <div><a href="{% url 'signup' %}" class="startedbutt">Get Started Now</a>
     </div>
     </div>
     </li>
     <li><img src="{% static 'images/banner2.jpg' %}" alt="">
     <div class="banner-text">
     <span>Intelligent ALGO</span>
     Investment Opportunities
     <div><a href="{% url 'signup' %}" class="startedbutt">Get Started Now</a>
     </div>
     </div>
     </li>
  </ul>

</div>