{% load static %}
<footer>
<div class="container">

<ul>
<li><a href="#">About us  </a></li>
<li><a href="#">Ways to Trade</a></li>
<li><a href="#">Markets to Trade</a></li>
<li><a href="#">Trading Platforms</a></li>
<li><a href="#">Learn to Trade</a></li>
</ul>

<div class="socialmedia">
Follow Us
<div>
<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>

</div>

<ul>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">About Us</a></li>
</ul>
<div class="copyright">©2019 Invest IQ. All rights reserved.</div>


</div>
</footer>