{% load static %}
<header>
<div class="container-fluid">
<div class="logo"><a href="index.html"><img src="{% static 'images/logo.png' %}" title="Invest IQ"  alt=""/></a></div>
<div id='cssmenu' class="menupart">
       <ul>
       <li class='active'><a href='#'>About us</a></li>
       <li><a href='#'>Ways to Trade </a></li>
       <li><a href='#'> Markets to Trade</a></li>
       <li><a href='#'> Trading Platforms</a></li>
       <li><a href='#'> Learn to Trade </a></li>
    </ul>
     </div>
<div class="rightbutt">
<a href="#" class="login" data-toggle="modal" data-target="#myModal">Login</a>
<a href="#" class="getstarted">GET Started</a>
</div>
<div class="clearfix"></div>
</div>

</header>