{% load static %}
<section class="iconsection">
<div class="container">

<h2>Maximise your Return while<br>
 Managing Risks</h2>
 
 <div class="row">
 <div class="col-sm-4">
 <div class="iconinner">
 <div class="iconpic"><img src="{% static 'images/icon1.png' %}"  alt=""/></div>
 <p>Our solution factors in the sentiment of the market, and the level of risk profile</p>
 </div>
 </div>
 <div class="col-sm-4">
 <div class="iconinner">
 <div class="iconpic"><img src="{% static 'images/icon2.png' %}"  alt=""/></div>
 <p>Use our simple web application to get started, Adjust your risk profile. whenever you want</p>
 </div>
 </div>
 <div class="col-sm-4">
 <div class="iconinner">
 <div class="iconpic"><img src="{% static 'images/icon3.png' %}"  alt=""/></div>
 <p>Tax free, No commitments.No programming required</p>
 </div>
 </div>
 </div>
 
 <h2>Intelligent technology, multiple<br>
 brokers, fast activation</h2>
<p>All your favourite brokers under one simple and fully automated investment solution</p>
</div>
</section>