{% load static %}
<section class="tabsection">
<div class="container">
<h2>Two ways to manage your portfolio</h2>

<div id="tabcontainer">

  <ul class="tabs"> 
        <li class="active" rel="tab1"> Invest IQ<br>Premium Signals</li>
        <li rel="tab2">Invest IQ<br>Automated</li>
    </ul>

<div class="tab_container"> 

     <div id="tab1" class="tab_content"> 
         <p>A simple online fully automated investment management solution using algorithms to dynamically manage your risks, systematically manage your portfolio, select appropriate investments, and feed back insights from data analysis into the investment process</p>
         <a href="{% url 'signup' %}" class="startedbutt">START RIGHT NOW</a>
         <p class="italic">Monthly fee GBP 15 for Signals and GBP 35 for fully Automated Service</p>
     </div>
     <div id="tab2" class="tab_content"> 
          <p>A simple online fully automated investment management solution using algorithms to dynamically manage your risks, systematically manage your portfolio, select appropriate investments</p>
                 <a href="{% url 'signup' %}" class="startedbutt">START RIGHT NOW</a>
                 <p class="italic">Monthly fee GBP 15 for Signals and GBP 35 for fully Automated Service</p>
        </div>
     
 </div>

</div>





</div>
</section>