{% extends 'auth/layouts/base.html' %}

{% block content %}
<div class="container">

<ul class="progress-indicator">
            <li class="completed">
            <div>Sign up</div>
                <span class="bubble"></span>
                
            </li>
            <li class="completed">
            <div>Build Risk Profile</div>
                <span class="bubble"></span>
                
            </li>
            <li class="completed">
           <div>Pick Product</div>
                <span class="bubble"></span>
                
            </li>
            <li class="completed">
            <div>Review</div>
                <span class="bubble"></span>
                
            </li>
            <li>
           <div> Run</div>
                <span class="bubble"></span>
                
            </li>
        </ul>
<div class="stepdiv">
<div class="logintop">
       <h2>Review</h2>
       </div>
 <div class="creatouter">      
<div class="loginbottom">
<div class="row">
<div class="col-sm-6">
<div class="form-group">
<label>first name</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.first_name }}">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>Last name</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.last_name }}">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>Email Address</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.email }}">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>skype name</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.profile.skype }}">
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label>whatsapp number</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.whatsapp }}">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>twitter name</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.twitter }}">
</div>
</div>


<div class="col-sm-6">
<div class="form-group">
<label>Max Spread</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.max_spread }}">
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<label>Size</label>
<input type="text" class="form-control" readonly="readonly" value="{{ user.size }}">
</div>
</div>




<div class="col-sm-12">
<h3>Investment Universe Selection</h3>
</div>
<div class="col-sm-6">
<div class="form-group">
<select class="form-control"><option>MAJOR</option></select>
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<select class="form-control"><option>MAJOR</option></select>
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<select class="form-control"><option>Australasion</option></select>
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<select class="form-control"><option>Scandinavian</option></select>
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<select class="form-control"><option>Exotic</option></select>
</div>
</div>
<div class="col-sm-6">
<div class="form-group">
<select class="form-control"><option>Emerging Merkets</option></select>
</div>
</div>

<div class="col-sm-6">
<input type="button" value="Back" class="cancelbutton" onclick="window.location.href='{% url 'pick_product' %}'">
</div>
<div class="col-sm-6">
<input type="button" value="SUBMIT" class="popbutton" onclick="window.location.href='{% url 'run' %}'">
</div>
</div>

</div>
<div class=""></div>
</div>
</div>


</div>
{% endblock content %}