{% load static %}

{% include 'landing/layouts/header.html' %}
{% include 'landing/layouts/content_header.html' %}
{% include 'landing/layouts/banner.html' %}

<section>
{% include 'landing/layouts/topsection.html' %}
{% include 'landing/layouts/iconsection.html' %}
{% include 'landing/layouts/tabsection.html' %}
{% include 'landing/layouts/welthsection.html' %}
{% include 'landing/layouts/bottomstarted.html' %}
</section>

{% include 'landing/layouts/content_footer.html' %}
{% include 'landing/modals/login.html' %}
{% include 'landing/modals/register.html' %}
{% include 'landing/layouts/footer.html' %}